* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    max-height: 100vh;
    margin: 0 auto; 
}

.header {
    background-color: #000000;
    height: 160px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;    
}

.header_nav {
    display: flex;
    gap: 20px;
    background-color: #2D4059;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;    
}

.header_logo, .header_links, .header_social {
    background-color: #EA5455;
    height: 20px;
    width: 100%;
}

.header_logo {
    margin-left: 20px;
    flex: 1 1 0;
}

.header_links {
    flex: 2 1 0;
}

.header_social {
    margin-right: 20px;
    flex: 1 1 0;
}

.header_showcase {
    height: 50%;
    background-color:#F07B3F;
    padding: 20px;
}

.header_showcase-img {
    background-color: #FED460;
    width: 100%;
    height: 100%;
}